.section-regulars {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-regulars__container {
  @extend %container;
}

.section-regulars__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: $title-text-color;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.section-regulars__list {
  display: flex;

  @extend %list;

  @media screen and (max-width: $desktop - 1px) {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.section-regulars__item {
  @media screen and (max-width: $tablet - 1px) {
    width: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    width: calc((100% - 90px) / 3);
  }

  @media screen and (max-width: $desktop - 1px) {
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 150px) / 6);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.section-regulars__link {
  @extend %centered;
  height: 90px;

  border: 1px solid $icon-color;
  border-radius: 4px;

  transition: border-color $duration $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.section-regulars__icon-client {
  fill: $icon-color;

  transition: fill $duration $timing-function;

  .section-regulars__link:hover &,
  .section-regulars__link:focus & {
    fill: $accent-color;
  }
}
